
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: rgb(221, 21, 21);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li.checked {
  background: rgb(0, 0, 0);
  color: rgb(159, 175, 18);
  text-decoration: line-through;
}